.pokemon {
    display: inline-block;
    text-align: center;
}
.pokemon img {
    display: block;
}

div{
    display: inline-block;
    text-align: center;
}

img{
    display: block;
}

h1{
    text-align: center;
}