/* Element Selector */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    color: brown;
    list-style: none;
    padding: 10px;
    width: 20em;
    border-radius: 5px;
}

h1{
    padding: 10px;
    color: blue;
}

input:hover{
    cursor: pointer;
}

/* id Selector */
#completed{
    text-decoration: line-through;
}


.important{
    color: red;
    background-color: blue;
}

/* All Selector */

*{
    margin: 1%;
    box-sizing: border-box;  
}

/* Attribute Selector */
/* selects only the tag with the corresponding attribute */
a[href="https://github.com/"]{
    background-color: cadetblue;
}

/* 
 Specificity 
 inline css > class > id > elemental > all 
*/



