<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinions Home</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="/reload/reload.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>
    <div>

    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="logo">
            devOpinions
        </div>
    </nav>
    <div class="container mt-2 mb-2">
    <h4 class="mt-3 mb-3">All Opinions</h4>
    <div class="col-md-3">
        <form class="card new-opinion-card" action="/opinions" method="POST">
            <p class="card-text helper-text">Add Your Opinion</p>
            <div class="mb-3">
              <input type="text" placeholder="Your Name" name="dev" id="dev" class="form-control custom-input">
            </div>
            <div class="mb-3">
              <textarea type="text" rows="3" maxlength="200" placeholder="Your Opinion" name="opinion" id="opinion" class="mb-2 form-control custom-input"></textarea>
              <small>200 Characters Allowed</small>
            </div>
            <button type="submit" class="btn opinion-submit">Submit</button>
          </form>
    </div>
    <div class="row mt-3 mb-3">
        <% for(let opinion of opinions) {%>
            <div class="col-md-3">
                <div class="card opinion-card mt-2 mb-3">
                    <div class="card-body">
                      <p class="card-text dev-name">
                        <%= opinion.dev %>
                      </p>
                      <p class="card-title dev-opinion">
                        <%= opinion.opinion %>
                      </p>
                      <p class="card-title dev-opinion">
                        <i class="bi bi-hand-thumbs-up"></i> <%= opinion.agrees %>
                      </p>
                    </div>
                </div>              
            </div>
        <%}%>
    </div>

</div>
</body>
</html>