<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %> 
<body>
    <h1>Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit expedita ipsam, explicabo quisquam modi quo quibusdam nisi eius commodi perspiciatis dolorum odio totam distinctio numquam, vitae ipsa aspernatur repellendus corrupti?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus magnam quae maiores, corrupti mollitia velit excepturi non, aliquam consequuntur molestias vero, quis iure necessitatibus harum! Eaque, commodi. Beatae, cumque totam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi impedit deserunt dolor, facere maiores earum, dolores vel eum, asperiores inventore eaque eveniet fugit iste debitis ex architecto excepturi natus?</p>
</body>
</html>