<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %> 

<body>
    <h1>
      Your random number is  <%= rand %>
    </h1>
    <!-- <%  if(rand % 2 === 0) { %>
    
      <h2> That is an even number!</h2>

    <% } else {%> 
    
      <h2>That is an odd number</h2>
    
    <% }%> -->

    <h2>
      The number is <%= rand % 2 === 0 ? "even" : "odd" %>  
    </h2>
</body>
</html>