<footer class="secondary" style="background-color: cornflowerblue; padding: 10px;">
    <div class="container">
        <p style="text-align:center">Copyright 2021 </p>
    </div>
</footer>
</body>
</html>