img{
    width: 30%;
    float: left;
    margin: 1.66%;
}
h1{
    font-weight: 500;
    text-align: left;
    font-size: 40px;
    border-bottom:5px solid gray;
    width: 50%;
    height: 100px;
    padding: 50px;
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
}